{% extends "layout.html" %}
{% block body %}

<h1> Databases and Data Structures </h1>
<h2> Building a Database <button class="togglebutton" id="hide_databases">+/-</button></h2>
<div id="databases">
<p> Designing a database requires some practical philosophy. Namely, "What are the things?", "What things are there?", 
and, "How are the things related to each other?".</p> 

<p> For an introduction to the ambiguities that make 
designing a database difficult is the book <a href="https://dl.acm.org/citation.cfm?id=539994">Data and Reality </a>
by William Kent. I would <emph>strongly</emph> recommend trying to obtain an edition other than the "third edition"
which has been significantly modified by Steve Hoberman. I am in complete agreement with this 
<a href="https://www.amazon.co.uk/gp/customer-reviews/RZUKQF8JV7DM3/ref=cm_cr_dp_d_rvw_ttl?ie=UTF8&ASIN=1935504215"> amazon review </a>.
I would recommend attempting to get hold of an older edition while emailing Penguin asking them for 
a new edition of the original book.
</p>

<p> I'll reproduce a representative example of what to expect from this book. This short 
section is from the first chapter titled "Entities".</p>

<div class="extract">
<blockquote>
<h2> The Murderer and the Butler </h2>
<p>Combining the ideas of our last two sections: sometimes it is our
perception of "how many" which changes. Sometimes two distinct
entities are eventually determined to be the same one, perhaps after we have accumulated
substantial amounts of information about each.</p>

<p>
At the beginning of a mystery, we need to think of the murderer and the butler as two distinct entities,
collecting information about each of them separately. After we discover that "the butler did it" have
we established that they are "the same entity"? Shall we require the modelling system to collapse their two representatives
into one? I don't know of any modelling system which can cope with that adequately.
</p>
</blockquote>
</div>

<p> Ambiguities and a number of debateable choices are fundamental to the act of seeking 
a representation of real world data in a machine. Kent's book succeeds in helping designers clarify
their design decisions and why those decisions are necessary.</p> 

<p> It is also interesting to observe how the language has evolved 
since the last edition of the book, and where the subsequent successes of SQL, object orientation,
and object relational mappings have attempted to address some of the issues raised in Kent's book. 
In short it is a highly recommended work.</p>
</div>

<script>
  $("#hide_databases").click(function(){
    $("#databases").toggle();
    });
</script>

<h2> Heap Sort <button class="togglebutton" id="hide_heapsort">+/-</button></h2>
<div id="heapsort">
<p>
The first sorting algorithm we'll look at is <a href="https://en.wikipedia.org/wiki/Heapsort"> Heapsort </a>. 
This method involves modifying your array, of N values, so that it is organised as a <a
href="https://en.wikipedia.org/wiki/Heap_(data_structure)"> heap </a>. Once the array has been "heaped" 
then a single swap is performed, so that the largest (or smallest value is at the head of the array). 
The next step is to "re-heap" an array of length N-1 (leaving out the recently swapped value). 
This iterative process is continued until the array is sorted. In the heap sort animation on this page
the data in the array is "heaped", then swapped, then heaped, then swapped, etc. The template
for the d3 visualization can be found <a href="https://bl.ocks.org/mbostock/3885705"> here </a>.
</p>

<label>
<input type="checkbox">
Sort Array
</label>

<head>
<style>
.bar { fill: steelblue; }
.bar:hover { fill: brown; }
.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
</style>
</head>

<script src={{url_for('static', filename='heap_sort.js')}}></script>
<script>
// Bar chart from blocks: https://bl.ocks.org/mbostock/3885304

var a = [4, 10, 3, 5, 1];
var data =[]

for (i = 0; i<a.length; i++){
	data.push({"previous":i, "next":i, "mag":a[i]});}


var margin = {top: 20, right: 20, bottom: 70, left: 40},
    width = 600 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

var x = d3.scale.ordinal().rangeRoundBands([0, width], 0.1, 1);
var y = d3.scale.linear().range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var svg = d3.select("#heapsort").append("svg")
     .attr("width", width + margin.left + margin.right)
     .attr("height", height + margin.top + margin.bottom)
    .append("g")
     .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


x.domain(data.map(function(d) { return d.previous; }));
y.domain([0, d3.max(data, function(d) { return d.mag; })]);

svg.append("g")
   	 .attr("class", "x axis")
   	 .attr("transform", "translate(0," + height + ")")
   	 .call(xAxis);

svg.append("g")
     .attr("class", "y axis")
     .call(yAxis)
	 .append("text")
     .attr("transform", "rotate(-90)")
     .attr("y", 6)
     .attr("dy", ".71em")
     .style("text-anchor", "end")
     .text("Magnitude");

svg.selectAll(".bar")
		 .data(data)
	 .enter().append("rect")
     .attr("class", "bar")
     .attr("x", function(d) { return x(d.previous); })
     .attr("width", x.rangeBand())
     .attr("y", function(d) { return y(d.mag); })
     .attr("height", function(d) { return height - y(d.mag); });

d3.select("input").on("change", vis_heap(data));

function vis_heap(data) {
  svg.selectAll("text")
       .data(data)
       .enter()
         .append("text")
            .attr("x", function(d,i) {return 20 + 50*i;})
            .attr("y", 300-margin.top)
            .text(function(d) {return d.mag});
}

</script>
</div>

<script>
  $("#hide_heapsort").click(function(){
    $("#heapsort").toggle();
    });
</script>

{% endblock body %}

