{% extends "layout.html" %}
{% block body %}
<h1> H. Lambert</h1>
<p>
I am a Post-Doctoral Research Assistant at King's College London. 
My current research focuses on fracture processes in <a href="https://www.hems.ox.ac.uk"> hydrogen embrittled steels </a>.
In particular we are focusing on hydrogen occlusion and the effects of strain
on <a href="https://en.wikipedia.org/wiki/Grain_boundary">grain  boundaries </a> in iron and steel.

Previously I worked on the optical properties of materials in <a href="http://giustino.materials.ox.ac.uk"> Feliciano Giustino's group </a>.
</p>

<p>
My programming interests include studying the properties of materials from first principles. The
<a href="http://www.sternheimergw.org"> SternheimerGW </a> and 
<a href="http://imeall.co.uk"> Imeall Grain Boundary Database </a>
are two of the projects I have worked on.
</p>

<div class=contacts>
<ul class=contacts_list>
<li> Github:  <a href="{{contacts.Github}}"> montmorency </a> </li>
<li> Twitter: <a href="{{contacts.twitter}}"> @condensedhank  </a> </li>
<li> Email:   <a href="mailto:{{contacts.email}}"> lamberh  </a> </li>
</ul>
</div>

<div class=site_list>
<ul class=page_list>
<li><a href="{{url_for('publications')}}">Publications</a></li>
<li><a href="{{url_for('notes')}}">Notes and Teaching</a></li>
<li><a href="http://wolfdvd.harlambert.co.uk">Wolfson College DVD Library</a></li>
<li><a href="{{url_for('interesting_stuff')}}">Interesting Stuff</a></li>
</ul>
</div>

<div id=games>
<h3> Games:</h3>
<ul>
<li><a href="{{url_for('sorb')}}">Shakespeare, The Bible, or P.G. Wodehouse?</a></li>
</ul>
</div>

{% endblock body %}
