{% extends "layout.html" %}
{% block body %}
<p>
I am a Post-Doctoral Research Assistant at King's College London working for Alessandro De Vita. 
My current research focuses on fracture processes in <a href="https://www.hems.ox.ac.uk"> hydrogen embrittled steels </a>.
In particular we are focusing on hydrogen occlusion and the effects of strain
on <a href="https://en.wikipedia.org/wiki/Grain_boundary"> grain  boundaries </a> in Iron and Steel.

Formerly I worked on the optical properties of materials in <a href="http://giustino.materials.ox.ac.uk"> Feliciano Giustino's group </a>.
</p>

<p>
In my spare time I fool around with software. Mainly in the domain of 
python applications based on Flask/Peewee, some Haskell, 
and building Neural Networks using TensorFlow for a range of applications. 

Some of my programming interests include first principles calculations of 
the properties of materials, natural language processing, and market forecasting.
If you are interested in collaborating on a project in one or all of these (very) disparate fields, 
or would like to outsource some development please don't hesitate to <a href="mailto:lamberh@tcd.ie">contact me</a>.
</p>

<ul>
<li> Github:  <a href="{{contacts.Github}}"> montmorency </a> </li>
<li> Twitter: <a href="{{contacts.twitter}}"> @condensedhank  </a> </li>
<li> Email:   <a href="mailto:{{contacts.email}}"> lamberh  </a> </li>
</ul>

<ul>
<li><a href="{{url_for('publications')}}"> Publications </a></li>
<li><a href="{{url_for('notes')}}"> Notes and Teaching </a></li>
<li><a href="{{url_for('comp_env')}}"> Computing Environments </a></li>
<li><a href="{{url_for('interesting_stuff')}}">Interesting Stuff </a></li>
</ul>

{% endblock body %}
