{% extends "layout.html" %}
{% block body %}
<h1>Hoops Time Machine</h1>
<p> As a companion to the documentary "The Last Dance" on Netflix; the infamous, 
mercurial, and elusive, author of the cult blog <a href="www.passionofronartest.blogspot.com">
The Passion of Ron Artest </a> has come out of retirement to 
put together a curated list of his airness Michael Jordan's pivotal playoff games.

Along the way some chef's complements video have been thrown 
in to provide additional historical context. 
Whether you watched these
games live or are seeing them for the first time you will certainly 
enjoy hopping in the time machine and seeing how the league and network television evolved
over a 20 year period; from the '86 Celtic team taken to the brink 
as a young Michael runs circles around them,
through the mid 90s and the network hype surrounding  
the television premier of Jurassic Park and Bob Dole doing Visa commericals
the hoops time machine has something for everyone. Let the journey begin! 

<h2> 1986 Celtics Round 1 Game 2:"Tell your boy DJ I got something for him." </h2>
<p> Bull's management's had a reasonable plan. They hoped to 
nurse a young Michael Jordan, who represented the future of the entire franchise, back slowly
and cautiously from a broken foot suffered earlier in the regular season. 
If that meant missing out on the playoffs all the better. They weren't contenders that year
and they could take a higher draft pick as they built for the future. 
Jordan had other ideas. He blitzed through his
rehab, and forced his way back into the team, single handedly hauling 
the Bulls into the playoffs as the eighth seed to face one of the
greatest teams of all time. I can't imagine Jerry Krause was thrilled.
Having taken it on the chin in game 1 of the series Michael game back with a legendary performance:

<div class="embed">
<iframe width="823" height="617" src="https://www.youtube.com/embed/z_c3LXt0l1s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="taster">
Note the pained expressions on the faces of Dennis Johnson, Larry Bird, Bill Walton,
and the rest of the Boston Team, coaching staff, and supporters, 
as they contend with a force of nature summoned from the void. 
</div>

By way of epilogue we mention Boston went on to win the NBA championship that year. 
After the final game of the championship series the story goes that Larry Bird and Bill 
Walton stayed up all night crushing a bottle of Wild Turkey in Larry's kitchen.
</p>

<h2> Bulls Pistons Game 5 1990: In which our Hero Fails</h2>
<p> 
Isaiah Thomas is fond of pointing out that everyone talks about those years like
it was just the Lakers, Celtics, and the Bulls. But Detroit won back to back championships
right in the middle of all that and they weren't going to let the Michael walk to a coronation.
Quite the opposite. They were going to absolutely hammer him at every opportunity. Aguirres, Rodman,
Laimbeer as bigs, and Thomas and Dumars as guards makes for formidable oposition.

<div class="embed">
<iframe width="823" height="588" src="https://www.youtube.com/embed/l1rR_BonJWs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="taster">
Joe Dumars would later become GM of the pistons and assemble the 2004 championship winning team. 
There are some interesting similarities between those two teams with Billups and Rip Hamilton
in the Dumar/Thomas Mold and the Wallace Bros. and Tayshaun prince up front.
</div>

<div class="historical">
        The broadcast also features an advert for concerts at the Palace at Auburn Hills;
        lineup that summer included Phil Collins, Janet Jackson, and David Bowie. There was also
        a "restore the roar" campaign for the Detroit Lions. The roar has yet to be restored.
</div>

True aficianados can follow this up with Game 6 but it is not required viewing.
</p>

<h2>1991 Eastern Conference Finals Game 3 Bulls v Pistons: Ascendants vs Champions</h2>
<p>
Things are reaching their heated peak between the Bulls and the Pistons.
The hype surrounding this game is that Aguirre told Pippen to "meet him in the parking lot" after
Game 2. Also worth watching is the Costas and Pat Riley pre game show and at half time where 
Riley is talking about potentially taking over as Knicks head coach. A mock draft
introduces us to a number of players that will feature, to varying degrees, 
in the coming years. Amongst them Brian Williams; on a strange 
note we may reflect that from this mock draft Brian Williams would change his name
to Bison Dele and a decade later he will have disappeared presumed murdered at sea. 

This video is a full cut with
all the trimmings including classic McDonald's and ArmorAll ads. 
You can't help but feel the world was objectively a better place in 1991:
<div class="embed">
<iframe width="823" height="617" src="https://www.youtube.com/embed/duRw2ypOkxQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</p>

<h2> 1991 NBA Finals Game 3: Magic</h2>
<p>
There Detroit nemesis vanquished only the lakers and Magic Johnson stand in the Bulls' way.
<div class="embed">
<iframe width="823" height="461" src="https://www.youtube.com/embed/RKm8oB7QM1w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="taster">
Although Michael is now unstoppable Magic Johnson provides some vintage moments:
combining an unbelivably intelligent post game with the oldest school passing clinic
you will ever see. Vlade Divac also sparked a cigarette at halftime of this game;
further evidence of the increased sophistication of the early nineties. 
</div>
</p>

<h2>1992 Game 6: Portland Trail Blazers </h2>
<p>
Jordan got fired up to play Drexler and the Blazers here they are closing out their second championship:
<iframe width="640" height="360" src="https://www.youtube.com/embed/CMtWFXsrtIE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<h2> 1993 Game 3 New York Knicks @ Bulls </h2>
<p>
Now we get into the real grinding beauty of 90s NBA ball. 
The teams out west may have been slightly more progressive, perhaps easier on the eye,
but Ewing and Oakley, Doc Mason and Starks are all stuff of NY legend. Pat Riley has
also decided to personally challenge Warren Zevon's Werewolf of London for "most perfect
hair" award.

<iframe width="563" height="422" src="https://www.youtube.com/embed/k6ZzIvPg1cU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

This game along with the ads is another deep dive immersive experience. One of the lessons 
that the authors of this hoop time travel journey learned was that Athlete's foot and Miller lite
were both a much bigger deal in the 90s.


<h2>1993 Game 5 New York Bulls @ Knicks </h2>
<p>
The biggest game in Madison Square Gardens since the 70s. So you know it's time to 
get fired up. If you've come this far in the time machine you might have noticed you
are developing a kind of Pavlovian association with the roundball rock theme song. 
It's a bit like the click that a seasoned drinker feels upon cracking open a cold beer.
<a href="https://www.youtube.com/watch?v=V_h7Lm7C9Nk"> Here </a> is 
a symphonic version along with its origin story as described by composer John Tesh.

Now to the game. Jordan came off some relatively "uninspired" hangover 
games to drop 54 in Chicago. The series is pretty finely poised.

This is a big game for Pippen, and Ewing and Cartwright 
go head to head for long stretches. The final play of this game encapsulates how
the Bulls won six championships. It is probably one of the most incredible defensive sequences
you'll see in basketball.

<iframe width="640" height="360" src="https://www.youtube.com/embed/J7dTpXbdj4Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<h2> Suns Sonics 1993 Game 5: A Small Detour Out West</h2>
<p>
To set up the finals we'll take a small peak at what the game is like out west.
Sir Charles is always full value for money and there are a few other real characters 
in this series including the future Mayor of Sacramento Kevin Johnston. 
Kemp and Payton form a dynamic duo and we'll run into them again a little 
later down the road. 
<iframe width="563" height="450" src="https://www.youtube.com/embed/RxiwdejDWVU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="taster">
Dan Majerle's restaurant in Phoenix is probably worth a visit. The menu is basketball
themed and looks like it has great variety! 
</div>
</p>

<h2> Bulls and Suns NBA Finals Game 4 </h2>
<p>
Michael and Charles meet in the finals. The Bulls are going for three in a row and
Charles is the league's MVP. To get an idea of where the leauge is at this stage
this video is worth a watch:
<iframe width="640" height="360" src="https://www.youtube.com/embed/4SbJ4Xf-t5E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
The quality of the league's stars and the impact the NBA makes abroad took a big
boost after the Dream Team at the Olympics in Barcelon.
</p>


{% endblock body %}
