{% extends "layout.html" %}
{% block body %}
<h1> Interesting Stuff </h1>
<p> Here are some links to websites I consider interesting.
If you have stumbled upon my page and navigated your way here it is the
least I can do to give you an easy way out.
</p>
<p>
The pages below are of passing, current, and permanent interest.
They are in no particular order beyond being separated into rough categories. 
Some of them pertain to code documentation I find myself checking frequently. 
Others cover fields relevant to electronic structure theory, 
computer programming, inference, english literature, the mystical world of 
financial shamanism, and horse racing. Selections may be updated periodically. 
</p>

<h2> General: </h2>
<ul class=links>
{% for k,v in interesting_websites.iteritems() %}
<li> <a href={{v}}> {{k}} </a> </li>
{% endfor %}
</ul>

<h2> Code Documentation </h2>
<ul class=links>
{% for k,v in code_documentation.iteritems() %}
<li><a href={{v}}>{{k}}</a></li>
{% endfor %}
</ul>

<h2> Superconductivity: </h2>
<ul class=links>
{% for k,v in superconductivity.iteritems() %}
<li><a href={{v}}>{{k}}</a></li>
{% endfor %}
</ul>

{% endblock body %}
