{% extends "layout.html" %}
{% block body %}
<p> Here are some links to websites I consider <code>Quite Interesting</code>.
If you have stumbled upon my page and navigated your way here it is the
least I can do to give you an easy way out.
</p>

<p>
The pages below are of passing, current, and permanent interest, 
and in no particular order. Some of them pertain to code documentation 
I find myself checking frequently. Others cover fields relevant to electronic structure theory, 
computer programming, inference, english literature, the mystical world of 
financial shamanism, and horse racing. Selections may be updated periodically. 
<ul>
{% for k,v in interesting_websites.iteritems() %}
<li> <a href={{v}}> {{k}} </a> </li>
{% endfor %}
</ul>
</p>
{% endblock body %}
