<h1> Europe or the Mediterranean? </h1>
<h2> There is no surfing in the Mediterranean </h2>
<p>
I have, at one time or another, said and done foolish things. Many times I have repeated these
mistakes. Often this repetition is to the acute frustration of those around me. 
</p>

<p>
As an example I recall repeated suggestions to a friend of mine 
that we should go surfing somewhere in the Mediterranean. To which he replied, on 
each occassion, `There is no surfing in the mediterannean.'. The final time I 
proposed the scheme was one too many and my friend answered me the usual way
but with more invective. I did not repeat the suggestion again. Sadly when my wife
some years later suggested the plan I responded with the same heightened emotional 
tension the last time the scheme had been suggested, although this time with the roles reversed. 
I was rightly cautioned to check my tone. 
</p>

<p>
There is nothing stopping people from taking a surf board to the Mediterranean.
So I suppose it is not true in the strictest sense, but generally speaking there 
isn't much surfing in the Mediterranean. This, if I am to be honest, is the first
subject on the Mediterranean I had considered and one of the few facts which I 
felt confident enough to claim I knew about that great sea.
</p>

<h2> Where have I been? </h2>
<p>
To my immediate recollection I have visited the Mediterranean at the following points:
Barcelona, Montpelier, Marseille, Nice, Malaga, Trieste, Athens, Naxos, and 
Santorini. I have not visited it from the coast of North Africa, nor from the 
Levant, though I do hope to do so at some point. 
</p>

<p>The soundtrack of the streets in each of these places is more the rattle of wheeled luggage 
being pulled along behind tourists from all reaches of europe, the americas, and asia 
as they search for their hotels and rented rooms. 
</p>

<h2>The Roman Mediterannean: Pirates and Crucifixion</h2>
<p>
The movements of people across that sea predate recorded history. 
And of the people themselves only the most specialised and accomplished historian 
could convincingly claim to have some conception of their life, as it really was. 
</p>

<p>
To the traveler the Mediterranean is warm sunshine, cool waters, and the simple pleasures of food and wine.
The more lascivious pleasures of beautiful women, speed, drugs, and loud music are also to be found without
too much effort. There are museums, ancient architecture, amphitheatres and cathedrals from Lisbon to Venice.
Along the south coast of Spain, it is rumoured, the attractive proposition of being able to run 
criminal enterprises from the Costa del Sol with limited interference and a comforting distance from 
domestic police as added attractions.
</p>


<blockquote cite="http://www.annourbis.com/JuliusCaesar/index.html">
Italy was being absorbed into vast estates, held by a few favored families and cultivated by 
slaves, while the old agricultural population was driven off the land, and was crowded into 
towns. The rich were extravagant, for life had ceased to have practical interest, 
except for its material pleasures; the occupation of the higher classes was to obtain money 
without labor, and to spend it in idle enjoyment. Patriotism survived on the lips, but 
patriotism meant the ascendency of the party which would maintain the existing order of 
things, or would overthrow it for a more equal distribution of the good things which 
alone were valued. Religion, once the foundation of the laws and rule of personal conduct, 
had subsided into opinion. The educated, in their hearts, disbelieved it. Temples were still 
built with increasing splendor; the established forms were scrupulously observed. Public men 
spoke conventionally of Providence, that they might throw on their opponents the odium of 
impiety; but of genuine belief that life had any serious meaning, there was none remaining 
beyond the circle of the silent, patient, ignorant multitude. The whole spiritual atmosphere was 
saturated with cant--cant moral, cant political, cant religious; an affectation of high principle 
which had ceased to touch the conduct, and flowed on in an increasing volume of insincere and unreal 
speech. The truest thinkers were those who, like Lucretius, spoke frankly out their real convictions, 
declared that Providence was a dream, and that man and the world he lived in were material phenomena, 
generated by natural forces out of cosmic atoms, and into atoms to be again resolved.

Tendencies now in operation may a few generations hence land modern society in similar conclusions, 
unless other convictions revive meanwhile and get the mastery of them; of which possibility 
no more need be said than this, that unless there be such a revival in some shape or 
other, the forces, whatever they be, which control the forms in which human things adjust 
themselves, will make an end again, as they made an end before, of what are called free 
institutions. Popular forms of government are possible only when individual men can 
govern their own lives on moral principles, and when duty is of more importance than 
pleasure, and justice than material expediency.
</blockquote>

<h2>Scott King's Modern Europe</h2>
In 1947 Evelyn Waugh published a short novel titled, "Scott-King's Modern Europe".
No other passage written captures so succinctly the romance of the Mediterranean
and what urges draw the put upon history teacher or the bored liverpudlian housewife
who has laboured under gray skies.

<blockquote>
He had not been abroad since 1939. He had not tasted wine for a year,
and he was filled, suddenly, with deep home-sickness for the South. He
had not often nor for long visited those enchanted lands; a dozen times perhaps, for a few weeks-
for one year in total of his forty-three years of life- but his treasure and his heart lay
buried there. Hot oil and garlic and spilled wine; luminous pinnacles above a dusky wall; fireworks at night, fountains
at noonday; the impudent, inoffensive hawkers of lottery tickets moving from table to
table on to the crowded pavement; the shepherd's pip on the scented hillside- all that
travel agent ever sought to put in a folder, fumed in Scott-King's mind that drab morning. He had
left his coin in the water of Trevi; he had wedded the Adriatic; he was a Mediterranean man.
</blockquote>

Should one be moved in a similar spirit to Scott-King to venture to mediterranean climes.
It is very likely, after the necessary stresses of travel, flights, boats, security checks
and delays that you will arrive at your destination late and awake the next morning to the 
following

<blockquote>
Groves of walnut and cork-oak, little orchards of almond and lemon, cover the surrounding country 
and grow to the foot of the walls which jut out among them in a series
 of sharp bastions, ingeniously contrived in the seventeenth century and never, in a lon
 history of strife, put to the test of assault; for they
 enclose little of military significance. The medieval university, the baroque cathedral, 
 twent churches in whose delicate limestone belfries the storks build and multiply,
 a rococo square, two or three tiny shabby palaces, a market and a street of shops
 are all that can be found there and all that the heart of man can properly desire.
</blockquote>


We now seek biographical detail to fill in some blanks about Neutralia.

<h2> The Mediterranean and Wine </h2>
<p>
As an aside I would like to address the stereotype of the loutish resident of the united kingdom or the
republic of ireland taking their whip-lash claim payout and heading to Magaluf to serially intoxicate
themselves and behave in an abysmal fashion. This is a libelous conception. The drunkest by far are the 
academics and corporate types loosed from their jobs and families to san sebastian or sicily for three
days of presentations and wine receptions. What the Mediterranean must forever remember is its primary duty.
The production of the ripest grape to be turned to frothy wine which is then consumed by the beaker at 
a conference celebrating an obscure poet or scientist.
</p>

<p>
Modern sensibilities require me to qualify the preceding remarks. There are of course people
not in a position to consume beakers of wine due to personal or religious convictions. There
presence remains essential. Indeed it is this mixture of the teetotal and the deeply inebriated
to create the perfect conference environment. The true mediterranean drunkeness, in the conference
sense, is not brash exposition and showiness, it is no roman orgy. The true drunkeness 
is the drunkeness of Scott-King, of suppressed hiccoughs, the steadying hand on the tablecloth, 
the increasingly desperate grasping about in the native language as you attempt to 
converse with your demonstrably sober colleague.
</p>

<blockquote>
<pre>
Scott-King slipped away. As though at a great distance he descried Whitemaid,
alone at the buffet, and unsteadily made his way towards him.
`Are you drunk?' whispered Whitemaid.
`I don't think so - just giddy. Exhaustion and the noise.'
`I am drunk.'
`Yes. I can see you are.'
`How drunk would you say I was?'
`Just drunk.'
`My dear, my dear Scott-King, there if I may say so, you are wrong. In every
degree and by every known standard I am very, very much more drunk than you give
me credit for.'
</pre>
</blockquote>

Scott-King comes in contact with a people trafficker:

<blockquote>
You have a passport? This is lucky. English passports come very dear just now. 
I hope Miss Bombaum explained to you that mine is 
not a charitable organisation. We exist to make profits and our expenses are high. I am 
constantly bothered by people who come to me supposing I work for the love of it. 
I do love my work, but love is not enough. The young man I spoke of just now,
who tried to shoot me - he is buried just outside under the wall- he though this
was a political organisaiton. We help people irrespective of class, race, party, creed
or colour - for cash in advance.

It is extraordinary how many people without the requisite facilities seem anxious to 
cross frontiers today. 
</blockquote>

<p>
The dedication of Scott-King is in latin: 

The subject of the dedication 
<a href="http://www.independent.co.uk/news/people/obituary-mia-woodruff-1368401.html"> Mia Woodruff </a>
Marie Immaculee Antoinette Acton.
</p>

<p> To this day it remains fascinating how many people wish to cross national borders
who lack the capital to do so. </p>

<h2> Accumulated History: Acquis Communautaire? </h2>
As different social forces become coherent and move in sufficient harmony so that later
people can point to that era and say with some confidence and general acceptance,
The Romans, The Carthaginians, The Athenians, the agents of these cultures
leave behind fragments.

To return to Froude:
<blockquote cite="http://www.annourbis.com/JuliusCaesar/index.html">
Of such times we know nothing, save the broad results as they are measured from century to century, 
with here and there some indestructible pebble, some law, some fragment of 
remarkable poetry which has resisted decomposition. 
</blockquote>

And again with economy, observed by Waugh the way the Mediterranean has
accumulated by layers history:
<blockquote>
The little Mediterranean seaport of Santa Maria lay very
near the heart of Europe. An Athenian colony had
thrived there in the days of Pericles and built a shrine to Poseidon;
Carthaginian slaves had built the breakwater and deepened the basi; 
Romans had brough fresh water from the mountain springs; Dominican friars had raised the great
church which gave the place its present name; the Habsburgs had laid out
the elaborate little piazza; one of Napoleon's marshals had made it his base and left a 
classical garden there. The footprints of all these gentler conquerors were still plain to
see but Scott-King saw nothing as, at dawn, he bowled over the cobbles to the water front.
</blockquote>

