{% extends "layout.html" %}
{% block body %}
Here is a small collection of notes on superconductivity and my D. Phil thesis. These are in varying
states of completion and correctness. Please contact me if you find any glaring errors. This
page is updated periodically with new notes and modifications to old ones. Ultimately I would
like some of these notes to morph into an actual subdomain of the site where the text becomes
interactive although this might be a little bit ambitious.

<ul>
{% for note in notes %}
  <li> <a href="{{url_for('download_file', filename=note)}}"> {{note}} </a> </li>
{% endfor %}
</ul>

{% endblock body %}
