{% extends "layout.html" %}
{% block body %}
<p> Below are a list of publications of which I am an author or co-author.
The bulk of this work comes from research and software development I did under the direction of
<a href="http://giustino.materials.ox.ac.uk"> Felician Giustino </a> in the <a href="http://mml.materials.ox.ac.uk"> Materials Modelling
Laboratory </a> at Oxford.</p>

<ul class=publication_list>
{% for k,v in publications.iteritems() %}
<li> <a href="{{v}}">{{k}}</a> </li>
{% endfor %}
</ul>

<p> I am currently working at King's College in London
under the direction of Alessandro De Vita with a focus on
<a href="http://www.hems.ox.ac.uk"> Hydrogen Embrittlement Processes in Steels </a>.
Here is some of the work we have produced so far:</p>
<ul class=publication_list>
{% for k,v in hems_publications.iteritems() %}
<li> <a href="{{v}}">{{k}}</a> </li>
{% endfor %}
</ul>

<p> Here are some posters. If the browser doesn't render them properly just download the file and open with inkscape or any
program that can read <code>.svg</code>files. </p>
<ul>
<li><a href="{{url_for('download_file', filename='RoyalSocietyLambert.svg')}}">HEMS poster for Royal Society meeting 16th-18th January 2017</a></li>
</ul>

{% endblock body %}
