{% extends "layout.html" %}
{% block body %}
<p> Below are a list of publications of which I am an author or co-author.
The bulk of this work comes from research and software development I did under the direction of
<a href="http://giustino.materials.ox.ac.uk"> Felician Giustino </a> in the <a href="http://mml.materials.ox.ac.uk"> Materials Modelling
Laboratory </a> at Oxford.</p>

<ul>
{% for k,v in publications.iteritems() %}
<li> <a href="{{v}}"> {{k}}</a> </li>
{% endfor %}
</ul>

<p> I am currently working at King's College in London
under the direction of Alessandro De Vita with a focus on
<a href="http://www.hems.ox.ac.uk"> Hydrogen Embrittlement Processes in Steels </a>.</p>
{% endblock body %}
