{% extends "layout.html" %}
{% block body %}
<p> Some web based notes with visualization and an application to grain boundaries in materials, using Quaternions.</p>
<p> First things first an ode written by the father of Quaternions William Rowan Hamilton:
<pre>
The  Tetractys, Or high Matheis, with her charm severe
Of line and number, was our theme; and we Sought to behold her unborn progeny,
And thrones reserved in Truth’s celestial sphere:
While views, before attained, became more clear;
And how the One of Time, of Space the Three,
Might, in a chain Symbol, girdled be:
And when my eager and reverted ear
Caught some faint echoes of an ancient strain,
Some shadowy outlines of old thoughts sublime,
Gently he smiled to see, revived again,
In a later age, and occidental clime,
A dimly traced Pythagorean lore,
A westward floating, mystic dream of FOUR.
  -W.R. Hamilon
</pre>
</p>

<p>For animations <a href="https://threejs.org"> three.js </a> and its <a href="https://threejs.org/docs/api/math/Quaternion.html"> quaternion </a> 
library provides some basic functions for manipulating quaternions and making nice animations. Let's test the three example app:</p>

<body>
<script src={{url_for('static', filename='three.min.js')}}></script>
<script> 
var scene, camera, renderer;
var geometry, material, mesh;

init();
animate();

function init() {

    scene = new THREE.Scene();

    camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 10000 );
    camera.position.z = 1000;

    geometry = new THREE.BoxGeometry( 200, 200, 200 );
    material = new THREE.MeshBasicMaterial( { color: 0xff0000, wireframe: true } );

    mesh = new THREE.Mesh( geometry, material );
    scene.add( mesh );

    renderer = new THREE.WebGLRenderer();
    renderer.setSize( window.innerWidth, window.innerHeight );
    document.body.appendChild( renderer.domElement );
}

function animate() {
    requestAnimationFrame( animate );
    mesh.rotation.x += 0.01;
    mesh.rotation.y += 0.02;
    renderer.render( scene, camera );
}
</script>
</body>
{% endblock body %}
