{% extends "layout.html" %}
{% block body %}
<p> Some web based notes with visualization and an application to grain boundaries in materials, using Quaternions.</p>
<p> First things first an ode written by the father of Quaternions William Rowan Hamilton:
<pre>
The  Tetractys, Or high Matheis, with her charm severe
Of line and number, was our theme; and we Sought to behold her unborn progeny,
And thrones reserved in Truth’s celestial sphere:
While views, before attained, became more clear;
And how the One of Time, of Space the Three,
Might, in a chain Symbol, girdled be:
And when my eager and reverted ear
Caught some faint echoes of an ancient strain,
Some shadowy outlines of old thoughts sublime,
Gently he smiled to see, revived again,
In a later age, and occidental clime,
A dimly traced Pythagorean lore,
A westward floating, mystic dream of FOUR.
  -W.R. Hamilon
</pre>
</p>
{% endblock body %}
