{% extends "layout.html" %}
{% block body %}

<form>
  <input id="btn-shakespeare" class="btn btn-primary btn-md" type="button" value="Shakespeare" />
  <input id="btn-bible" class="btn btn-primary btn-md" type="button" value="Bible" /> 
  <input id="btn-wodehouse" class="btn btn-primary btn-md" type="button" value="Wodehouse" /> 
  <input id="btn-next" class="btn btn-primary btn-md" type="button" value="Next" /> 
</form>

<script>
  var margin = {top:30, right: 100, bottom: 80, left: 50},
      width  = 500 - margin.left - margin.right,
      height = 150 - margin.top - margin.bottom;

  var svg = d3.select(".page")
      .append("svg")
      .attr("width",  width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", 
            "translate(" + margin.left + "," + margin.top + ")");

  d3.select("#btn-shakespeare")
    .style("left", (width) + "px");

  d3.select("#btn-bible")
    .style("left", (width) + "px")
    .style("top", (height) + "px");

  //defs = svg.append('defs')
  //defs.append('svg:image')
  //  .attr("xlink:href", "{{url_for('static', filename='roughtexturedpaper.svg')}}")
  //  .attr("width", width)
  //  .attr("height", height)
  //  .attr("x", 0)
  //  .attr("y", 0);

  data = {{sorb_extracts | tojson}};
  index = Math.floor(Math.random()*data.length);
  quote = data[index];

  d3.select(".page")
    .append("p")
    .text(quote[1])
    .attr("id", "quote");

  d3.select(".page")
    .append("p")
    .text(quote[2])
    .attr("id", "citation")
    .style({'display':'none'})

  d3.select(".page")
    .append("p")
    .text("True")
    .attr("id", "true")
    .style({'display':'none'})

  d3.select(".page")
    .append("p")
    .text("False")
    .attr("id", "false")
    .style({'display':'none'})

  d3.select(".page")
    .append("p")
    .text(quote[0])
    .attr("id", "source")
    .style({'display':'none'})

  d3.select("#btn-next")
    .on("click", function(e) {
                    $("#citation").hide()
                    $("#true").hide()
                    $("#false").hide()
                    index = Math.floor(Math.random()*data.length);
                    quote = data[index];
                    d3.select("#quote")
                      .text(quote[1]);
                    d3.select("#citation")
                      .text(quote[2]);
                    d3.select("#source")
                      .text(quote[0]);
                    });

  d3.select("#btn-shakespeare")
    .on("click", function(e) {
                  $("#citation").show()
                  if('shakespeare' ==d3.select("#source").text()){
                    $("#true").show();
                    }
                  else{
                    $("#false").show();
                    }
                  });

  d3.select("#btn-bible")
    .on("click", function(e) {
                  $("#citation").show()
                  if('bible' == d3.select("#source").text()){
                    $("#true").show();
                    }
                  else{
                    $("#false").show();
                    }
                  });

  d3.select("#btn-wodehouse")
    .on("click", function(e) {
                  $("#citation").show()
                  if('wodehouse' == d3.select("#source").text()){
                    $("#true").show();
                    }
                  else{
                    $("#false").show();
                    }
                  });
</script>
{% endblock body %}
